*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    display: flex;
    justify-content:center;
    align-items: center;
    height: 70px;
    background-color: #add8e7;
}

/* CHANGE CLASS NAME */
.container-header{
    background-color: #daa51d;
    border: 2px dashed black;
    height: 40px;
    padding: 5px;
    display: flex;
    align-items: center;
}

.logo{
    flex-basis: 200px;
}

.link{
    flex-basis: 600px;
    justify-content: center;
}

.login{
    flex-basis: 200px;
    justify-content: flex-end;
}

/*main rules */


/*jumbotron rules */

#jumbotron{
    background-color: #00018b;
    height:400px;
    display: flex;
    justify-content:center;
    padding: 40px;
}

/* pink rectangle rules */

.jumbotron-content{
    background-color: #ef82ed;
    flex-basis: 50%;
    border: 2px dashed black;
}

/* containers with two squares rules */
.container-main{
    display: flex;
    justify-content:center;
    height: 400px;
    padding: 30px;
}

.container-main.gray,
.last-container-main.gray{
    background-color: #d3d3d3;
}

/* square rules */
.content-main{
    border: 2px dashed black;
}

.content-main.light-blue{
    background-color: #1e90ff;
    flex-basis: 40%;

}
.content-main.salmon{
    background-color: #ffc0ca;
    flex-basis: 30%;
}

/* inverse square */
.pink.inverse{
    order: -1;
}

/* last container with green square rules  */

.last-container-main.gray{
    height: 700px;
    display: flex;
    justify-content:center;
    padding: 30px;
}

.last-content-main{
    flex-basis: 60%;
    border: 2px dashed black;

}

.last-content-main.green{
    background-color: #218b21;
}




