*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    display: flex;
    justify-content:center;
    align-items: center;
    height: 70px;
    background-color: #add8e7;
}

/* CHANGE CLASS NAME */
.container-header{
    background-color: #daa51d;
    border: 2px dashed black;
    height: 40px;
    padding: 5px;
    display: flex;
    align-items: center;
}

.logo{
    flex-basis: 200px;
}

.link{
    flex-basis: 600px;
    justify-content: center;
}

.login{
    flex-basis: 200px;
    justify-content: flex-end;
}

/*main rules */

/*section rules */
#jumbotron{
    background-color: #00018b;
    height:400px;
    display: flex;
    justify-content:center;
    padding: 40px;
}

.jumbotron-content{
    background-color: #ef82ed;
    flex-basis: 50%;
    border: 2px dashed black;
}




