*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    display: flex;
    justify-content:center;
    align-items: center;
    height: 70px;
    background-color: #add8e7;
}

/* CHANGE CLASS NAME */
.container-header{
    background-color: #daa51d;
    border: 2px dashed black;
    height: 40px;
    padding: 5px;
    display: flex;
    align-items: center;
}

.logo{
    flex-basis: 15%;
}

.link{
    flex-basis: 30%;
    justify-content: center;
}

.login{
    flex-basis: 15%;
    justify-content: flex-end;
}

/*main rules */


/*jumbotron rules */

#jumbotron{
    background-color: #00018b;
    height:400px;
    display: flex;
    justify-content:center;
    padding: 40px;
}

/* pink rectangle rules */

.jumbotron-content{
    background-color: #ef82ed;
    flex-basis: 50%;
    border: 2px dashed black;
}

/* containers with two squares rules */
.container-main{
    display: flex;
    justify-content:center;
    height: 400px;
    padding: 30px;
}

.container-main.gray,
.last-container-main.gray{
    background-color: #d3d3d3;
}

/* square rules */
.content-main{
    border: 2px dashed black;
}

.content-main.light-blue{
    background-color: #1e90ff;
    flex-basis: 35%;

}
.content-main.salmon{
    background-color: #ffc0ca;
    flex-basis: 25%;
}

/* inverse square */
.salmon.inverse{
    order: -1;
}

/* last container with green square rules  */

.last-container-main.gray{
    height: 600px;
    display: flex;
    justify-content:center;
    padding: 30px;
}

.last-content-main{
    flex-basis: 60%;
    border: 2px dashed black;

}

.last-content-main.green{
    background-color: #218b21;
}

/* footer rules */

footer{
    background-color: #23272a;
}

/* container with five squares */
.upper-container{
    display: flex;
    justify-content: center;
    padding: 30px;
    border-bottom: 2px solid white;
}

.content-footer{
    height: 400px;
}

.content-footer.red{
    background-color: #f08180;
    flex-basis: 20%;
    border: 2px dashed black;
}

.content-footer.aqua{
    background-color: #20b3aa;
    flex-basis: 10%;
    border: 2px dashed white;
}

/* container with logo and button */
.lower-container{
    display: flex;
    justify-content: center;
    border-bottom: 2px solid white;
    padding: 30px;
}

.sub-container-footer{
    background-color: #7fffd3;
    height: 100px;
    flex-basis: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-footer-low{
    background-color: #feb6bf;
    padding: 3px 5px;
    border: 2px dashed black;
}






